<div class="main">
  <div class="main__computer">
    <div class="main__computer-user">
      <a href="#">
        <img class="main__computer-site-logo" src="./icon.png" alt="logo" />
      </a>

      <button class="main__computer-logo__overlay">
        <div class="main__computer-logo__container">
          <img
            [src]="userService.user?.profile_pic"
            alt="user-logo"
            class="main__computer-user-logo"
          />
        </div>
      </button>
    </div>

    <div class="main__computer-conversations">
      <h1 class="main__computer-active-users__header">
        <div
          class="main__computer-active-icon main__computer-active-icon--small"
        ></div>
        Active users (3)
      </h1>

      <div class="main__computer-active-users">
        <button class="main__computer-active-user">
          <div class="main__computer-logo__overlay">
            <div class="main__computer-logo__container">
              <img
                src="http://localhost:8080/static/l.png"
                class="main__computer-user-logo"
                alt="A"
              />
            </div>

            <div class="main__computer-active-icon"></div>
          </div>

          <h5 class="main__computer-active-user__name">Lara Erikson</h5>
        </button>

        <button class="main__computer-active-user">
          <div class="main__computer-logo__overlay">
            <div class="main__computer-logo__container">
              <img
                src="http://localhost:8080/static/d.png"
                class="main__computer-user-logo"
                alt="A"
              />
            </div>

            <div class="main__computer-active-icon"></div>
          </div>

          <h5 class="main__computer-active-user__name">Dan Stinson</h5>
        </button>

        <button class="main__computer-active-user">
          <div class="main__computer-logo__overlay">
            <div class="main__computer-logo__container">
              <img
                src="http://localhost:8080/static/m.png"
                class="main__computer-user-logo"
                alt="A"
              />
            </div>

            <div class="main__computer-active-icon"></div>
          </div>

          <h5 class="main__computer-active-user__name">Murray Larson</h5>
        </button>
      </div>

      <h1 class="main__computer-all-conversations__header">
        Conversations (3)
      </h1>

      <form class="main__computer-search-conversations__form">
        <input
          type="text"
          class="main__computer-search-conversations__input"
          placeholder="Search conversations"
        />
        <button class="main__computer-search-conversations__icon" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="main__computer-all-conversations">
        <button class="main__computer-one-conversation">
          <div class="main__computer-logo__overlay">
            <div class="main__computer-logo__container">
              <img
                src="http://localhost:8080/static/l.png"
                class="main__computer-user-logo"
                alt="A"
              />
            </div>
          </div>

          <div class="main__computer-conversation-info">
            <h1 class="main__computer-conversation-name">Lara Erikson</h1>
            <h2
              class="main__computer-conversation-last-message main__computer-conversation-last-message--unread"
            >
              Hello, Bartek! How are you doing?
            </h2>
            <h3 class="main__computer-conversation-sent">
              <i class="fa-solid fa-circle-check"></i> Sent at 1:45 PM
            </h3>
          </div>
        </button>

        <button
          class="main__computer-one-conversation main__computer-one-conversation--selected"
        >
          <div class="main__computer-logo__overlay">
            <div class="main__computer-logo__container">
              <img
                src="http://localhost:8080/static/m.png"
                class="main__computer-user-logo"
                alt="A"
              />
            </div>

            <div class="main__computer-active-icon"></div>
          </div>

          <div class="main__computer-conversation-info">
            <h1 class="main__computer-conversation-name">Murray Larson</h1>
            <h2 class="main__computer-conversation-last-message">
              You: Hey, Murray!
            </h2>
            <h3 class="main__computer-conversation-sent">
              <i class="fa-solid fa-circle-check"></i> Sent at 2:30 PM
            </h3>
          </div>
        </button>

        <button class="main__computer-one-conversation">
          <div class="main__computer-logo__overlay">
            <div class="main__computer-logo__container">
              <img
                src="http://localhost:8080/static/d.png"
                class="main__computer-user-logo"
                alt="A"
              />
            </div>
          </div>

          <div class="main__computer-conversation-info">
            <h1 class="main__computer-conversation-name">Dan Stinson</h1>
            <h2 class="main__computer-conversation-last-message">Heyy! :3</h2>
            <h3 class="main__computer-conversation-sent">
              <i class="fa-solid fa-circle-check"></i> Sent at 5:10 PM
            </h3>
          </div>
        </button>
      </div>
    </div>

    <div class="main__computer-conversation">
      <div class="main__computer-conversation-information">
        <button class="main__computer-logo__overlay">
          <div class="main__computer-logo__container">
            <img
              src="http://localhost:8080/static/m.png"
              class="main__computer-user-logo"
              alt="A"
            />
          </div>

          <div class="main__computer-active-icon"></div>
        </button>

        <div class="main__computer-conversation-information__overlay">
          <h1 class="main__computer-name-of-conversation">Murray Larson</h1>
          <h2 class="main__computer-is-active">Active now</h2>
        </div>

        <button class="main__computer-conversation__more-btn">
          <i class="fa-solid fa-ellipsis main__computer-conversation__more"></i>
        </button>
      </div>

      <div class="main__computer-conversation__messages">
        <div class="main__computer-conversation__start-of-conversation">
          <div
            class="main__computer-conversation__start-of-conversation__overlay"
          >
            <button
              class="main__computer-logo__overlay main__computer-logo__overlay--big"
            >
              <div class="main__computer-logo__container">
                <img
                  src="http://localhost:8080/static/m.png"
                  class="main__computer-user-logo"
                  alt="A"
                />
              </div>

              <div
                class="main__computer-active-icon main__computer-active-icon--big"
              ></div>
            </button>

            <div class="main__computer-conversation__start-info">
              <h1 class="main__computer-conversation__name">Murray Larson</h1>
              <h2 class="main__computer-user-desc">Lorem ipsum dolor sit</h2>
              <h2 class="main__computer-since">
                On chatterbox since: 16 March 2024
              </h2>
            </div>
          </div>

          <h3 class="main__computer-start">
            This is the beggining of your conversation with Murray Larson
          </h3>
        </div>

        <div
          class="main__computer-message__container main__computer-message__container--mine"
        >
          <h5 class="main__computer-message">
            Lorem ipsum dolor sit amet consectetur
          </h5>
        </div>

        <div class="main__computer-message__container">
          <h5 class="main__computer-message">
            Lorem ipsum dolor sit amet consectetur
          </h5>
        </div>

        <div
          class="main__computer-message__container main__computer-message__container--mine"
        >
          <img
            src="http://localhost:8080/static/amogus.jpg"
            class="main__computer-message main__computer-message--image"
            alt="message"
          />
        </div>
      </div>

      <form class="main__computer-conversation__send-message__form">
        <textarea
          class="main__computer-conversation__send-message"
          placeholder="Type your message"
        ></textarea>
        <button class="main__computer-conversation__attach-image" type="button">
          <i class="fa-solid fa-image"></i>
        </button>
        <button
          class="main__computer-conversation__send main__computer-conversation__send--disabled"
          type="submit"
        >
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>

  <div class="main__phone"></div>
</div>
