@import "../../styles.scss";

.main {
  &__computer {
    display: flex;
    width: 100vw;

    &-user,
    &-conversations,
    &-conversation {
      height: calc(100svh - 24px);
      margin: 12px;
      margin-right: 0;
      background: #fff;
      border-radius: 8px;
      padding: 0 8px;
    }

    &-user {
      position: relative;
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &-conversations {
      width: 300px;
    }

    &-conversation {
      width: calc(100vw - 12px - 50px - 12px - 300px - 12px - 12px - 16px * 3);
    }

    &-site-logo {
      width: 36px;
      height: 36px;
      margin-top: 8px;
    }

    &-logo__overlay {
      position: relative;
      width: 36px;
      height: 36px;
      margin-bottom: 8px;
      padding: 5px;
      transition: 0.15s;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      margin: 5px;
      background: transparent;

      &--big {
        width: 100px;
        height: 100px;
      }

      &:hover {
        background: #ebebeb;
      }
    }

    &-user-logo__users-count {
      background: rgb(194, 194, 194);
      font-family: $i;
      font-weight: 600;
      color: #5b5b5b;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-logo__container {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }

    &-logo__overlay--group {
      position: relative;
      width: 42px;
      height: 42px;
      margin: 5px;
    }

    &-user-logo--top-left,
    &-user-logo--bottom-right {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    &-user-logo--top-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-user-logo--bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &-user-logo {
      width: 100%;
    }

    &-active-users__header,
    &-all-conversations__header {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      letter-spacing: -0.3px;
    }

    &-active-users {
      overflow-x: scroll;
      display: flex;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-active-user {
      border: none;
      background: transparent;
      margin: 0 5px;
      padding: 12px;
      min-width: 100px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 12px;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.15s;

      &:hover {
        background: #f0f0f0;
      }
    }

    &-active__user-name {
      width: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2px;
    }

    &-active__first-name,
    &-active__last-name {
      margin: 0;
      font-weight: 500;
      font-family: $i;
    }

    &__no-active-users {
      margin: 50px auto;
      font-weight: 400;
      letter-spacing: -0.4px;
      font-size: 14px;
      color: #767676;
    }

    &-active-icon {
      position: absolute;
      bottom: 3px;
      right: 3px;
      width: 12px;
      height: 12px;
      background: #12df19;
      border-radius: 50%;

      &--small {
        position: static;
        width: 8px;
        height: 8px;
      }

      &--big {
        width: 24px;
        height: 24px;
      }
    }

    &-search-conversations__form {
      margin: 12px 0;
      display: flex;
      justify-content: center;
    }

    &-search-conversations__input {
      width: 200px;
      padding: 8px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
      background: #f0f0f0;
      font-family: $i;
      letter-spacing: -0.3px;
      font-weight: 500;
    }

    &-search-conversations__icon {
      background: #f0f0f0;
      border: none;
      padding: 0 12px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
    }

    &-all-conversations {
      overflow-y: scroll;
      height: 300px;
      padding: 0 5px;

      &::-webkit-scrollbar {
        width: 3px;
        background: #c4c4c4;
      }

      &::-webkit-scrollbar-thumb {
        background: #747474;
      }
    }

    &-one-conversation {
      border: none;
      margin: 5px 0;
      background: transparent;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 5px;
      font-family: $i;
      width: 100%;
      transition: 0.15s;

      &:hover {
        background: #f0f0f0;
      }

      &--selected {
        background: #f0f0f0;
      }
    }

    &-conversation-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 210px;
      margin-left: 5px;
    }

    &-conversation-name {
      margin: 0;
      font-size: 18px;
    }

    &-conversation-last-message {
      margin: 0;
      font-size: 12px;
      text-align: left;
      font-weight: 400;
      word-break: break-all;
      letter-spacing: -0.4px;

      &--unread {
        font-weight: 700;
      }
    }

    &-conversation-sent {
      color: #36a2b0;
      margin: 0;
      margin-top: 5px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: -0.2px;
    }

    &-conversation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-conversation-information {
      position: relative;
      background: #f0f0f0;
      margin: 8px 0;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-name-of-conversation {
      margin: 0;
      font-size: 17px;
    }

    &-is-active {
      margin: -2px 0;
      font-size: 12px;
      font-weight: 400;
    }

    &-conversation__more {
      transition: 0.15s;
      padding: 12px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: #e1e1e1;
      }
    }

    &-conversation__more-btn {
      padding: 0;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: transparent;
      border-radius: 5px;
    }

    &-conversation__messages {
      width: 100%;
      height: 450px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-conversation__send-message__form {
      display: flex;
      margin-bottom: 8px;
    }

    &-conversation__send-message {
      resize: none;
      width: 100%;
      font-family: $i;
      font-size: 15px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background: #f0f0f0;
      font-weight: 400;
      border: none;
      padding: 8px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-conversation__send,
    &-conversation__attach-image,
    &-conversation__audio {
      font-size: 19px;
      background: #f0f0f0;
      padding: 0 10px;
      border: none;
      cursor: pointer;
      color: #646464;
    }

    &-conversation__send {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &--disabled {
        color: #b7b7b7;
        cursor: default;
      }
    }

    &-conversation__messages {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    &-conversation__start-of-conversation {
      margin-top: 24px;
    }

    &-conversation__start-of-conversation__overlay {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-conversation__start-info {
      margin-left: 12px;
    }

    &-conversation__name {
      font-size: 28px;
      margin: 0;
    }

    &-user-desc {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      background: #f0f0f0;
      color: #707070;
      padding: 8px;
      border-radius: 5px;
      max-width: 350px;
      word-break: break-all;
    }

    &-since {
      margin: 8px 0;
      font-size: 16px;
    }

    &-start {
      font-size: 13px;
      text-align: center;
      color: #909090;
      font-style: italic;
    }

    &-message__container {
      width: 100%;
      display: flex;
      margin: 12px 0;

      &--mine {
        justify-content: flex-end;
      }
    }

    &-message {
      background: #65cfdd;
      margin: 0;
      padding: 8px;
      border-radius: 5px;
      font-weight: 400;
      margin: 0 5px;

      &--image {
        padding: 0;
        width: 300px;
      }
    }

    &__user-modal {
      position: absolute;
      bottom: 50px;
      border-radius: 5px;
      left: 0;
      width: 200px;
      background: rgb(229, 229, 229);
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
    }

    &__new-chats {
      background: rgb(194, 194, 194);
      color: #5f5f5f;
      font-weight: 700;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    &__user-modal__btn {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      border: none;
      background: transparent;
      transition: 0.15s;
      cursor: pointer;
      font-family: $i;

      &:hover {
        background: #dddddd;
      }
    }

    &__user-modal__logout {
      color: #d43030;
    }
  }

  &__phone {
    margin: 0;
  }
}
