<div class="user">
  <button routerLink="/main" class="user__back">
    <i class="fa-solid fa-arrow-left"></i>
    Powrót do strony głównej
  </button>

  <div class="user__information">
    <div class="user__logo-overlay">
      <img
        src="http://localhost:8080/static/j.png"
        alt="user-logo"
        class="user__user-logo"
      />

      <div class="user__logo-pen">
        <i class="fa-solid fa-pen"></i>
      </div>
    </div>

    <div class="user__info">
      @if (unique_id === userService.user?.unique_id) {
      <form class="user__form">
        <div class="user__input-container">
          <label for="unique_id" class="user__label">Login</label>
          <input
            type="text"
            class="user__input"
            [value]="userService.user?.unique_id"
          />
        </div>

        <div class="user__input-container">
          <label for="name">First name and last name</label>
          <input
            type="text"
            class="user__input"
            [value]="userService.user?.name"
          />
        </div>

        <h5 class="user__change-pass">Zmień hasło</h5>
      </form>
      } @else { }
    </div>
  </div>
</div>
