@import "../../styles.scss";

.user {
  width: calc(650px - 50px);
  height: 470px;
  padding: 25px;
  background: #fff;
  border-radius: 18px;

  @media (max-width: 768px) {
    width: calc(320px - 50px);
    height: 500px;
  }

  &__back {
    font-size: 14px;
    font-family: $i;
    border: none;
    background: transparent;
    cursor: pointer;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__logo-overlay {
    position: relative;
    width: 100px;
    height: 100px;
    transition: 0.15s;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;
    border: none;
    cursor: pointer;

    &--display-photo {
      width: 300px;
      height: 300px;
    }
  }

  &__user-logo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__logo-pen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 32px;
    color: #dedede;
    border: none;
    background: #00000086;
    opacity: 0;
    transition: 0.15s;
    border-radius: 50%;
  }

  &__logo-overlay:hover &__logo-pen {
    opacity: 1;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__information {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 42px;

    @media (max-width: 768px) {
      gap: 8px;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 13px;
    letter-spacing: -0.3px;
  }

  &__input {
    margin-bottom: 12px;
    font-size: 17px;
    font-family: $i;
    background: #f0f0f0;
    color: #484848;
    font-weight: 700;
    border: none;
    padding: 8px;
    border-radius: 5px;
    resize: none;
  }

  &__save-changes {
    margin-top: 12px;
    width: 150px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;

    &[disabled] {
      background: #f00;
    }

    &:hover {
      background: lighten(#000, 25%);
    }
  }

  &__change-pass__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    width: 150px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__save-changes,
  &__change-pass {
    font-family: $i;
  }

  &__loading {
    display: flex;
    gap: 24px;
  }

  &__circle-loading {
    width: 100px;
    height: 100px;
    background: #4a4a4a;
    border-radius: 50%;
  }

  &__rect-loading {
    width: 200px;
    height: 15px;
    background: #4a4a4a;
    border-radius: 5px;
    margin: 12px 0;
  }

  &__full-name {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__name {
    font-size: 21px;
    margin: 0;
  }

  &__unique-id {
    font-size: 12px;
    color: #737373;
    margin: 0;
  }

  &__since {
    margin: 0;
    color: #535353;
  }

  &__desc {
    background: #e4e4e4;
    color: #4e4e4e;
    padding: 8px;
    font-weight: 400;
    border-radius: 5px;
  }

  &__display-photo {
    width: 100%;
    height: 100%;
    background: #0000008c;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__close {
      position: absolute;
      top: 12px;
      right: 12px;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 42px;
      color: #ff9696;
    }
  }

  &__modal-background {
    width: 100%;
    height: 100%;
    background: #0000008c;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &__modal {
    width: 300px;
    height: 500px;
    background: #fff;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__upload-photo__title {
    font-size: 21px;
  }

  &__upload {
    display: none;
  }

  &__custom-label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &__file {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__file-name {
    margin: 0;
    font-weight: 400;
  }

  &__file-size {
    margin: 0;
  }

  &__choose-an-image,
  &__upload-photo__button {
    background: #000;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    transition: 0.15s;
    cursor: pointer;
    font-family: $i;
    letter-spacing: -0.2px;

    &:hover {
      background: lighten(#000, 25%);
    }
  }

  &__upload-close {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    border-radius: 5px;

    &:hover {
      background: darken(#fff, 15%);
    }
  }

  &__upload-btns {
    margin-top: 12px;
    display: flex;
    gap: 8px;
  }

  &__change-pass {
    position: relative;
    background: #fff;
    width: 300px;
    height: 500px;
    padding: 0 8px;
    border-radius: 12px;

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0000008c;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    &__label {
      font-size: 14px;
      color: #4c4c4c;
      letter-spacing: -0.35px;
    }

    &__form-group {
      display: flex;
      flex-direction: column;
      margin: 12px 0;
    }

    &__form-control {
      width: 200px;
      background: #dbdbdb;
      color: #4b4b4b;
      padding: 8px;
      border: none;
      border-radius: 5px;
      font-family: $i;
    }

    &__btns {
      display: flex;
      gap: 8px;
      position: absolute;
      bottom: 8px;
      left: 8px;
    }

    &__submit,
    &__close {
      background: #000;
      color: #fff;
      border-radius: 5px;
      font-size: 15px;
      font-family: $i;
      padding: 5px 8px;
      font-weight: 500;
      letter-spacing: -0.25px;
      border: none;
      transition: 0.15s;
      cursor: pointer;

      &:hover {
        background: lighten(#000, 25%);
      }
    }
  }
}

image-cropper {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  width: 200px;
}
