/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "notification/notification";
$i: "Inter", sans-serif;
$main-color: #1996ac;

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background-image: url("../public/struckaxiom.webp");
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: $i;
}

*::selection {
  background: #b0bcfb;
  color: #4458bb;
}
